<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.felix.mybatisdynamic.mapper.RoleMapper">
    <!-- sql重复语句提取 -->
    <sql id="selectFromRole">select * from role</sql>

    <select id="findByCondition" parameterType="pers.felix.mybatisdynamic.domain.Role" resultType="pers.felix.mybatisdynamic.domain.Role">
        select
            role_id as roleId,
            role_name as roleName,
            role_addr as roleAddr,
            role_level as roleLevel,
            role_category as roleCategory
        from role
        <where>
            <if test="roleId!=null">
                and role_id=#{roleId}
            </if>
            <if test="roleName!=null">
                and role_name=#{roleName}
            </if>
        </where>
    </select>

    <select id="findByIds" parameterType="list" resultType="pers.felix.mybatisdynamic.domain.Role">
        select
            role_id as roleId,
            role_name as roleName,
            role_addr as roleAddr,
            role_level as roleLevel,
            role_category as roleCategory
        from role
        <where>
            <foreach collection="list" open="role_id in(" close=")" item="id" separator=",">
                #{id}
            </foreach>
        </where>
    </select>

</mapper>