<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.felix.mybatismultiple.mapper.UserMapper">

    <resultMap id="userMap" type="pers.felix.mybatismultiple.entity.User">
        <result column="id" property="id"></result>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <result column="birthday" property="birthday"></result>
        <collection property="orderList" ofType="pers.felix.mybatismultiple.entity.Order">
            <result column="oid" property="id"></result>
            <result column="ordertime" property="ordertime"></result>
            <result column="total" property="total"></result>
        </collection>
    </resultMap>
    <select id="findAll" resultMap="userMap">
        select * ,o.id oid from user u left join orders o on u.id = o.uid;
    </select>

    <resultMap id="userRoleMap" type="pers.felix.mybatismultiple.entity.User">
        <result column="id" property="id"></result>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <result column="birthday" property="birthday"></result>
        <collection property="personList" ofType="pers.felix.mybatismultiple.entity.Role">
            <result column="id" property="id"></result>
            <result column="rolename" property="rolename"></result>
        </collection>
    </resultMap>
    <select id="findAllUserAndRole" resultMap="userRoleMap">
        select u.*,r.* from user u left join user_role ur on u.id=ur.user_id inner join role2 r on ur.role_id=r.id
    </select>

</mapper>