<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.felix.mybatisdaoproxy.mapper.RoleMapper">

    <resultMap id="roleResultMap" type="Role">
        <result column="role_id" property="roleId" />
        <result column="role_name" property="roleName" />
        <result column="role_addr" property="roleAddr" />
        <result column="role_level" property="roleLevel" />
        <result column="role_category" property="roleCategory" />
    </resultMap>

    <!-- 查询role表全部数据 -->
    <select id="selectAll" resultMap="roleResultMap" resultType="Role">
        select * from role
    </select>

    <!-- 根据id查询 -->
    <select id="selectById" resultType="Role">
        select
            role_id as roleId,
            role_name as roleName,
            role_addr as roleAddr,
            role_level as roleLevel,
            role_category as roleCategory
        from
             role
        where role_id = #{roleId}
    </select>

    <!-- 根据id删除 -->
    <delete id="deleteById">
        delete from role where role_id = #{id}
    </delete>

    <!-- 添加一条数据 -->
    <insert id="add">
        insert into role(role_id, role_name, role_addr, role_level, role_category)
        values(#{roleId}, #{roleName}, #{roleAddr}, #{roleLevel}, #{roleCategory})
    </insert>

    <!-- 多条件查询 -->
    <select id="selectByMultipleCondition" resultMap="roleResultMap">
        select * from role where
        role_addr like #{addr}
        and role_level like #{level}
    </select>

    <!-- 单条件动态查询 -->
    <select id="selectBySingleCondition" resultMap="roleResultMap">
        select * from role
        <where>
            <choose>
                <when test="roleAddr != null and roleAddr != '' ">
                    role_addr like #{roleAddr}
                </when>
                <when test="roleLevel != null and roleLevel != '' ">
                    role_level like #{roleLevel}
                </when>
                <when test="roleCategory != null and roleCategory != '' ">
                    role_category like #{roleCategory}
                </when>
            </choose>
        </where>
    </select>

</mapper>