<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.felix.mybatismultiple.mapper.RoleMapper">

    <select id="selectRoleByEmployeeId" resultType="pers.felix.mybatismultiple.entity.Role">
        SELECT
            r.id id,
            name
        FROM
            role r,
            employee_role er
        WHERE
            er.role_id = r.id
            AND er.employee_id=#{employeeId}
    </select>
</mapper>